---
layout: default
---

<style type="text/css" media="screen">
  .container {
    margin: 10px auto;
    max-width: 600px;
    text-align: center;
  }
  h1 {
    margin: 30px 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
  }
</style>

<div class="page">
  <div class="scrolling-content" style="text-align: center;">
    <h1>OUPS !</h1>

    <p><strong>Erreur 404 (ça fait peur)</strong></p>
    <p>La page demandée n'existe pas.. </p>
    <p>Essaye encore si tu veux.</p>
    <p>Ou clique sur un lien en haut, c'est plus sûr.</p>
  </div>
  {% include footer.html %}
</div>
