<audio preload="auto" id="audio-bonnet">
	<source src="{{ site.url }}/assets/sounds/bonnet.mp3"></source>
	<source src="{{ site.url }}/assets/sounds/bonnet.ogg"></source>
	Ce navigateur n'est pas prêt pour un maximum de fun audio avec GRUI...
</audio>
<div class="footer">
	<div class="footer-item fixed-height">
		<span id="bonnet">
	    <img class="rolling-left" src="/assets/img/bonnet.png" /></span>
	</div>
	<div class="footer-item">
		<p>Site conçu et dessiné par Pipou et Étienne. Codé avec un maximum de fun par par Grégoire.</p>
	</div>
</div>