<div class="header">
	<div class="header-item">
	    <a href="{{ site.url }}"><img class="zooming-in" src="/assets/img/menu_grui.png" /></a>
	</div>
	<div class="header-item">
	    <a href="{{ site.url }}/pages/musique.html"><img class="zooming-in" src="/assets/img/menu_musique.png" /></a>
	</div>
	<div class="header-item">
	    <a href="{{ site.url }}/pages/concerts.html"><img class="zooming-in" src="/assets/img/menu_concerts.png" /></a>
	</div>
	<div class="header-item">
	    <a href="{{ site.url }}/pages/contact.html"><img class="zooming-in" src="/assets/img/menu_contact.png" /></a>
	</div>
</div>