.page {
  @extend %extend1;
  @extend %background;
  height: auto;
  min-height: 100%;
  padding-top: calc(#{$header-height} + 2 * #{$absolute-base-spacing});
  display: inline-block;
  position: relative;
  background-image: url(../img/fond_home.jpg);
  background-attachment: scroll;
  background-repeat: round;
  background-size: 100%;
  background-position: top center;
  @media (max-width: $small-screen) {
    padding-top: calc(#{$header-height} * 4 + 2 * #{$absolute-base-spacing});
  }
}

.scrolling-content {
  font-size: 1vw;
  position: relative;
  height: auto;
  width: 70%;
  min-height: 30em;
  background-color: transparentize(white, 0.3);
  margin: auto;
  padding: $small-spacing;
  z-index: 99;


  .scrolling-background {
    height: 100%;
    width: 50%;
    left: 25%;
    background: #0a254c66;
    position: absolute;
    z-index: -10;
    box-shadow: 0px 0px 100px 6px;
  }
}

.social-links {
  height: auto;
  width: 80%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin: auto;
  font-size: 6vw;

  .fa-soundcloud {
    color: $soundcloud-color;
  }
  .fa-facebook {
    color: $facebook-color;
  }
  .fa-youtube-play {
    color: $youtube-color;
  }
  .fa-bandcamp {
    color: $bandcamp-color;
  }
  .fa-envelope {
    color: whitesmoke;
  }
}

.iframe-div {
  width: 30vw;
  height: 30vw;
  margin: auto;
}

.image-div {
  width: 30vw;
  height: auto;
  margin: auto;
  img {
    position: relative;
    width: 100%;
  }
}

iframe {
  border: 0; 

  .inline_player {
    max-width: none !important;
  }
}


.pre {
  white-space: pre;
}