.footer {
	width: 100%;
	height: auto;
	margin: $absolute-base-spacing 0;
	background: transparent;
	position: relative;
	bottom: 0;
	z-index: 9999;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;

	.footer-item {

		&.fixed-height {
			height: 7vw;
		}
		margin: $base-spacing 0;
		img {
			height: 100%;
		}
		p {
			color: white;
			text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
		}
	}
}