.header {
	width: 100%;
	height: $header-height;
	margin: $absolute-base-spacing 0;
	background: transparent;
	position: fixed;
	top: 0;
	z-index: 9999;
	display: flex;
	align-items: center;
	justify-content: space-around;
  @media (max-width: $small-screen) {
  	height: $header-height * 2;
  	flex-wrap: wrap;
  }

	.header-item {
		// width: 25%;
		height: 100%;
		img {
			height: 100%;
		}
	}
}