.home {
	background-image: url(../img/fond_home.jpg);

  .scrolling-content {
    font-size: 2vw;
    overflow-wrap: break-word;
    padding-bottom: 20em;

    .centered-grui {
      position: absolute;
      top: 0;
      width: calc(100% - #{$small-spacing});
      height: 100%;
      background: url("../img/menu_grui.png") no-repeat center 10em;
      background-size: 50%;
    }

    .bottom-img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: calc(100% - #{$small-spacing});
      height: 100%;
      background: url("../img/photo_page_grui.png") no-repeat bottom center;
      background-size: 100%;
    }
  }
  
  // @media all and (max-width: $extra-large-screen) {
  //   background-image: url(../img/fond_puit_extra_large.jpg); 
  // }
  // @media all and (max-width: $large-screen) {
  //   background-image: url(../img/fond_puit_large.jpg); 
  // }
  // @media all and (max-width: $medium-screen) {
  //   background-image: url(../img/fond_puit_medium.jpg); 
  // }
  // @media all and (max-width: $small-screen) {
  //   background-image: url(../img/fond_puit_small.jpg); 
  // }

}