%extend1 {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-size: 100%;
}

%background {
	background-image: url(../img/fond_home.jpg);
  background-attachment: scroll;
  background-repeat: round;
  background-size: 100%;
  background-position: top center;
}

html {
	@extend %extend1;
}

body {
	@extend %extend1;

	font-family: monospace;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: $blue-background;
}

.iframe-container {
	margin: $small-spacing 0;
}