---
layout: default
---

  <div class="page concerts">
    <!-- <img src="{{site.background}}" /> -->
    <div class="scrolling-content">
    	<audio preload="auto" id="audio-ugo">
			<source src="{{ site.url }}/assets/sounds/ugo.mp3"></source>
			<source src="{{ site.url }}/assets/sounds/ugo.ogg"></source>
			Ce navigateur n'est pas prêt pour un maximum de fun audio avec GRUI...
		</audio>
    	<audio preload="auto" id="audio-jo">
			<source src="{{ site.url }}/assets/sounds/jo.mp3"></source>
			<source src="{{ site.url }}/assets/sounds/jo.ogg"></source>
			Ce navigateur n'est pas prêt pour un maximum de fun audio avec GRUI...
		</audio>
    	<audio preload="auto" id="audio-herve">
			<source src="{{ site.url }}/assets/sounds/herve.mp3"></source>
			<source src="{{ site.url }}/assets/sounds/herve.ogg"></source>
			Ce navigateur n'est pas prêt pour un maximum de fun audio avec GRUI...
		</audio>
    	<audio preload="auto" id="audio-clement">
			<source src="{{ site.url }}/assets/sounds/clement.mp3"></source>
			<source src="{{ site.url }}/assets/sounds/clement.ogg"></source>
			Ce navigateur n'est pas prêt pour un maximum de fun audio avec GRUI...
		</audio>
    	<audio preload="auto" id="audio-mathieu">
			<source src="{{ site.url }}/assets/sounds/mathieu.mp3"></source>
			<source src="{{ site.url }}/assets/sounds/mathieu.ogg"></source>
			Ce navigateur n'est pas prêt pour un maximum de fun audio avec GRUI...
		</audio>
    	<audio preload="auto" id="audio-pierre">
			<source src="{{ site.url }}/assets/sounds/pierre.mp3"></source>
			<source src="{{ site.url }}/assets/sounds/pierre.ogg"></source>
			Ce navigateur n'est pas prêt pour un maximum de fun audio avec GRUI...
		</audio>
    	<audio preload="auto" id="audio-didier">
			<source src="{{ site.url }}/assets/sounds/didier.mp3"></source>
			<source src="{{ site.url }}/assets/sounds/didier.ogg"></source>
			Ce navigateur n'est pas prêt pour un maximum de fun audio avec GRUI...
		</audio>
    	<audio preload="auto" id="audio-lumar_rena">
			<source src="{{ site.url }}/assets/sounds/lumar_rena.mp3"></source>
			<source src="{{ site.url }}/assets/sounds/lumar_rena.ogg"></source>
			Ce navigateur n'est pas prêt pour un maximum de fun audio avec GRUI...
		</audio>
    	<audio preload="auto" id="audio-on">
			<source src="{{ site.url }}/assets/sounds/on.mp3"></source>
			<source src="{{ site.url }}/assets/sounds/on.ogg"></source>
			Ce navigateur n'est pas prêt pour un maximum de fun audio avec GRUI...
		</audio>
    	<audio preload="auto" id="audio-anais">
			<source src="{{ site.url }}/assets/sounds/anais.mp3"></source>
			<source src="{{ site.url }}/assets/sounds/anais.ogg"></source>
			Ce navigateur n'est pas prêt pour un maximum de fun audio avec GRUI...
		</audio>
    	<audio preload="auto" id="audio-victoire">
			<source src="{{ site.url }}/assets/sounds/victoire.mp3"></source>
			<source src="{{ site.url }}/assets/sounds/victoire.ogg"></source>
			Ce navigateur n'est pas prêt pour un maximum de fun audio avec GRUI...
		</audio>
    	<audio preload="auto" id="audio-franky_rim">
			<source src="{{ site.url }}/assets/sounds/franky_rim.mp3"></source>
			<source src="{{ site.url }}/assets/sounds/franky_rim.ogg"></source>
			Ce navigateur n'est pas prêt pour un maximum de fun audio avec GRUI...
		</audio>
    	<audio preload="auto" id="audio-gaspard_laffect">
			<source src="{{ site.url }}/assets/sounds/gaspard_laffect.mp3"></source>
			<source src="{{ site.url }}/assets/sounds/gaspard_laffect.ogg"></source>
			Ce navigateur n'est pas prêt pour un maximum de fun audio avec GRUI...
		</audio>
    	<audio preload="auto" id="audio-jerem">
			<source src="{{ site.url }}/assets/sounds/jerem.mp3"></source>
			<source src="{{ site.url }}/assets/sounds/jerem.ogg"></source>
			Ce navigateur n'est pas prêt pour un maximum de fun audio avec GRUI...
		</audio>
      {{ content }}
    </div>
    {% include footer.html %}
  </div>
