---
layout: default
---

  <div class="page contact">
    <!-- <img src="{{site.background}}" /> -->
    <div class="scrolling-content">
    	<audio preload="auto" id="audio-etienneboissonleaves">
				<source src="{{ site.url }}/assets/sounds/etienneboissonleaves.mp3"></source>
				<source src="{{ site.url }}/assets/sounds/etienneboissonleaves.ogg"></source>
				Ce navigateur n'est pas prêt pour un maximum de fun audio avec GRUI...
			</audio>
    	
      {{ content }}
    </div>
    {% include footer.html %}
  </div>
