---
layout: default
---
  <div class="page home">
    <!-- <img src="{{site.background}}" /> -->
    <div class="scrolling-content">
      {{ content }}

      <div class="centered-grui">
      </div>
      <div class="bottom-img">
      </div>
    </div>
    {% include footer.html %}
  </div>
