---
layout: default
---

  <div class="page musique">
    <!-- <img src="{{site.background}}" /> -->
    <div class="scrolling-content">
      {{ content }}
    </div>
    {% include footer.html %}
  </div>
